<mat-card>
  <mat-card-header>
    <mat-card-title>{{planet.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <img mat-card-image src="../../assets/{{planet.img}}" alt="Ein Foto von {{planet.name}}">
    </div>
    <p>{{planet.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" *ngIf="planet.isFavourite; else notFavourite" (click)="planet.isFavourite = false; change.emit()">Ist mein Favorit</button>
    <ng-template #notFavourite>
      <button mat-button (click)="planet.isFavourite = true; change.emit()">Ist keiner meiner Favoriten</button>
    </ng-template>
  </mat-card-actions>
</mat-card>